.input {
  height: 75px;
  border-radius: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  font-size: 35px;
  background-color: #CDFCF6;
  color: black 80;
  padding: 11px 30px 11px 11px;
  margin: 2px solid white;
}